.ubicacion {
    min-height: calc(100vh - 200px); /* Calcula la altura mínima de la ubicación para que el footer quede al final de la página para solucionar el problema de que el footer quedaba en el medio */
    width: 100%;
    background-color: #af0e0e;
    display: flex;
    flex-direction: column; /* Asegura que los elementos internos se apilen verticalmente */
}


.portadaUbicacion{
    height: 500px;
    background-image: url('../../img/SanCarlos.jpg');
    background-size: cover;
    background-position: center;  

}

.textoUbicacion{
    height: 600px;
    background-color: #df3a10;
}
.serviciosCercanos{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #00aeff;
}
.fraseUbicacion{
    height: 600px;
    background-color: #197740;
}