.departamentos{
    width: 100%;
    height: auto;
    position: relative; /* O static si no necesitas posicionamiento especial */
    z-index: 1; /* Un valor más alto que el carrusel si es necesario */
}
.departamentos h1{
    padding-top: 100px;
    padding-bottom: 485px;
}
.containerDepartamentos {
    display: grid;
    grid-template-columns: 1fr; /* Dos columnas */
    gap: 20px; /* Espacio entre las filas */
}
.item {
    display: flex;
}
.item img {
    width: 700px;
    height: 500px;
}

