.nav-link {
    color: rgb(255, 222, 203);
    margin-top: 1rem; /* Cambiado a unidad de medida relativa */
    border-bottom: 2px solid transparent; /* Subrayado transparente por defecto */
}

.nav-link:hover {
    color: white;
    border-bottom-color: rgb(255, 255, 255); /* Cambia el color del subrayado al pasar el cursor */
    transition: border-bottom-color 0.5s ease; /* Agregado para una transición suave del subrayado */
}

.nav {
    position: fixed; /* Se mantiene fijo en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1200; /* Asegura que esté por encima del carrusel */
    transition: background-color 0.5s ease;
    margin-right: 50px;
}

.NavBar {
    display: flex;
    align-items: center;
}

.NavBar h2 {
    margin-right: auto;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-left: 20px;
    margin-top: 1rem; /* Cambiado a unidad de medida relativa */
    z-index: 1200;
}
