footer{
    padding-top: 20px;
    width: 100%;
    height: 200px;
    background-color: #FFE7CC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-content: center;
} 
.columnaFooter{
    display: flex;
    flex-direction: column;
    
}
.columnaFooter h3 {
    margin-bottom: 10px; /* Esto elimina el margen inferior predeterminado */
    font-size: 25px;
  }  
.columnaFooter p{
    justify-content: center;
    font-size: 14px;
    max-width: 150px;
    margin: auto;
}