.carrusel{
    opacity: 70%;
}

#carouselExampleAutoplaying {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh; /* Esto asegura que el carrusel ocupe toda la altura visible de la ventana del navegador */
    z-index: 1; /* Para asegurarse de que esté detrás del contenido principal */
}

